
<html>

<body>
${name}：<br>
<br>
您好，。<br>
<br>
现提供公司的部分基础信息，供您参阅。<br>
<br>
公司名称：<br>
<br> 
招聘职位： ${job}<br>
<br> 
公司网站：<a>http://www.lanky.cn</a><br>
<br>
公司地址：（地铁五号线北苑路北地铁站）<br>
面试时间：${time}<br>
请着职业装<br>
<br>
吕<br>
招聘专员<br>
人力行政部<br>
术有限公司<br>
地址：大厦11层<br>
邮编：100<br>
邮箱：l@lan.cn<br>
电话：010-85859   15168031<br>
<br>
</body>
</html>